.login-button {
  width: 100%;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: black;
  .login-button-span {
    display: flex;
    .logo {
      display: flex;
      align-items: center;
    }
    .text {
      margin: auto;
    }
  }
}
